<h1>List of Restaurants</h1>
  <div id="restaurants">
    <% @restaurants.each do |restaurant| %>
      <li>
        <%= link_to restaurant.name, restaurant_path(restaurant) %>
      </li>
    <% end %>
  </div>
